@model Models.Database_Models.Contact
@{
    ViewData["Title"] = "Index";

}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">CONTACT</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="" id="contact1">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3><i class="fa fa-map-marker"></i> Address</h3>
                            <p>
                                Råbystigen add 30 
                                <br>19731
                                <br>Stockholm
                                <br>
                                <strong>Swedan</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-phone"></i> Call center</h3>
                            <p class="text-muted">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.such as WhatsApp</p>
                            <p><a href="tel:+46738088483"><i class="pe-7s-call"></i> +46738088483</a></p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                            <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                            <ul>
                                <li><strong><a href="mailto:">Domain@h.com</a></strong> </li>
                                <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                            </ul>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-12" id="map">

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </div>
                    </div>
                   
                    <hr>
                    <h2 style="margin-top:10px">Connect with us</h2>
                    <form asp-action="Index" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control" id="firstname" placeholder="First name">
                                    <span id="firstnameerror" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" id="lastname" placeholder="Last name">
                                    <span id="lastnameerror" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="E-mail">
                                    <span id="emailerror" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input asp-for="Subject" type="text" class="form-control" id="subject" placeholder="Subject">
                                    <span id="subjecterror" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea asp-for="Message" class="form-control" id="message" rows="10" placeholder="Message..."></textarea>
                                    <span id="error" class="text-danger"></span>
                                </div>
                            </div>
                         </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary" id="submit"><i class="fa fa-envelope-o"></i> Send message</button>
                            </div>
                        
                        @{
                            if (@TempData["Msg"] != null)
                            {
                                <script>
                                    alert('@TempData["msg"]')
                                </script>
                            }
                        }
                        <!-- /.row -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.error').hide(); 
            $("#submit").on("click", function () {

                var regex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                var firstname = $('#firstname').val();
                var lastname = $('#lastname').val();
                var email = $('#email').val();
                var subject = $('#subject').val();
                var summary = $('#summary').val();
                var msg = $('#message').val();

                //var textmsg = $.trim($(msg).text());
   
                if (firstname == '') {
                    $('#firstnameerror').show();
                    $('#firstnameerror').html('First name is required');
                    event.preventDefault();
                }
                else {
                    $('#firstnameerror').hide();
                    $('#firstnameerror').html('');
                }
                if (lastname == '') {
                    $('#lastnameerror').show();
                    $('#lastnameerror').html('Last name is required');
                    event.preventDefault();
                }
                else {
                    $('#lastnameerror').hide();
                    $('#lastnameerror').html('');
                }
                if (email == '') {
                    $('#emailerror').show();
                    $('#emailerror').html('Email is required');
                    event.preventDefault();
                }
                else if (!regex.test(email)) {
                    //alert("invalid email id");
                    $('#emailerror').show();
                    $('#emailerror').html('You have entered an invalid email address!');
                    event.preventDefault();

                }
                else {
                    $('#emailerror').hide();
                    $('#emailerror').html('');
                }
                if (subject == '') {
                    $('#subjecterror').show();
                    $('#subjecterror').html('Subject is required');
                    event.preventDefault();
                }
                else {
                    $('#subjecterror').hide();
                    $('#subjecterror').html('');
                }
                
                if (msg == '') {

                    //alert('nogo');
                    $('#error').show();
                    $('#error').html('Message is required');
                    event.preventDefault();
                }
                else {
                    //alert(textmsg);
                    $('#error').hide();
                    $('#error').html('');

                }
            });




        });
    </script>
}

