 @model Danweyne_Real_estate.Models.ResetPasswordModel
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Reset Password</h1>
            </div>
        </div>
    </div>
</div>
<div class="register-area" style="background-color: rgb(249, 249, 249);">
<div class="container">
<div class="col-md-12">
    <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 login-blocks">
           @* <h2>Reset Password</h2>*@
                    <form asp-action="ResetPassword" method="post">
          @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" id="password"/>
                <span  class="text-danger" id="passworderror"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" id="conpassword"/>
                <span class="text-danger" id="conpassworderror"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-primary" id="submit"/>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
          
            $("#submit").on("click", function () {

                //var regex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                var rege = /^(?=.*\d)(?=.*[!@@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,64}$/;
                var password = $('#password').val();
                var conpassword = $('#conpassword').val();
               
               

                if (password == "" || password == undefined) {
                    $("#passworderror").show();
                    $('#passworderror').html('Password is required');
                    event.preventDefault()
                }
                else if (!rege.test(password)) {
                    $("#passworderror").show();
                    $('#passworderror').html('Password must be :<br>Min.8 ,max.65 characters<br> Atleast one character UPPERCASE<br> Atleast one character lowercase<br> Atleast one number(0-9)<br> Atleast one symbol<br> Passwords match');
                    event.preventDefault();
                }
                else {
                    $("#passworderror").hide();
                }
                if (conpassword == "" || conpassword == undefined) {
                    $("#conpassworderror").show();
                    $('#conpassworderror').html('Confirm password is required');
                    event.preventDefault()
                }
                else {
                    $("#conpassworderror").hide();
                }
                if (password != "" && conpassword != "") {

                    if (password != conpassword) {
                        $("#conpassworderror").text("password not matched");
                        $("#conpassworderror").show();
                        event.preventDefault();
                    }
                    else {
                        $("#conpassworderror").hide();
                    }
                }
                
            });




        });
    </script>
}

           