@model Danweyne_Real_estate.Models.FaqQueViewModel
@{
    ViewData["Title"] = "FAQ";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">FAQ</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <br>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 col-sm-12 ">
            <div class="row">
                @for (int i = 0; i < Model.que.Count; i++)
                {
                    var question = Model.que[i];
                    var answers = Model.ans.Where(ans => ans.FaqQue.que_id == question.que_id).ToList();
                    <div class="col-md-12">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" style="cursor:pointer;" data-toggle="collapse" data-target="#@question.que_id">
                                        <span class="toggle-icon" style="margin-top:-5px;">+</span>
                                        <span class="question-text" style="color: black;">@question.que</span>
                                    </h4>
                                </div>
                                <div id="@question.que_id" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <ol>
                                            @foreach (var ans in answers)
                                            {
                                                <li>@ans.ans</li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.panel-title').click(function () {
            var $toggleIcon = $(this).find('.toggle-icon');
            $toggleIcon.text($toggleIcon.text() === '+' ? '-' : '+');

            var $panelBody = $(this).closest('.panel').find('.panel-collapse');
            $panelBody.collapse('toggle');
        });
    });
</script>



