@model Models.View_Model.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Change Password</h1>
            </div>
        </div>
    </div>
</div>


<div class="content-area user-profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">





                <form asp-action="ChangePassword" method="post" id="changePasswordForm">

                    <div class="form-group">
                        <label for="OldPassword" style="margin-top: 50px;">Old Password</label>
                        <input type="password" class="form-control" id="OldPassword" name="OldPassword"  placeholder="Old password"/>
                        <span class="text-danger" id="OldPassword-error"></span>
                    </div>

                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New password" />
                        <span class="text-danger" id="NewPassword-error"></span>
                    </div>

                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm password" />
                        <span class="text-danger" id="ConfirmPassword-error"></span>
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin-left: 200px; margin-top: 15px;">
                        Change Password
                    </button>


                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   
    <script>
        $(function () {
            $('#changePasswordForm').validate({
                rules: {
                    OldPassword: {
                        required: true,
                        remote: {
                            url: "/Account/CheckOldPassword",
                            type: "POST"
                        }
                    },
                    NewPassword: {
                        required: true,
                        minlength: 8,
                        maxlength: 65
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#NewPassword"
                    }
                },
                messages: {
                    OldPassword: {
                        required: "Please enter your current password",
                        remote: function () {
                            return $.validator.format("{0}", "The current password is incorrect");
                        }
                    },
                    NewPassword: {
                        required: "Please enter a new password",
                        minlength: "Password must be :<br>Min.8 ,max.65 characters<br> Atleast one character UPPERCASE<br> Atleast one character lowercase<br> Atleast one number(0-9)<br> Atleast one symbol<br> Passwords match"
                    },
                    ConfirmPassword: {
                        required: "Please confirm your new password",
                        equalTo: "Passwords do not match"
                    }
                },
                submitHandler: function (form) {
                    var oldPassword = $('#OldPassword').val();
                    var newPassword = $('#NewPassword').val();

                    if (oldPassword === newPassword) {
                        var errors = {};
                        errors['NewPassword'] = 'New password must be different from the old password';
                        this.showErrors(errors);
                    } else {
                        form.submit();
                    }
                }
            });

            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage !== '') {
                var notyf = new Notyf();
                notyf.success({
                    message: successMessage,
                    position: {
                        x: 'right',
                        y: 'top'
                    }
                });
            }
        });
        $(function () {
            $('#changePasswordForm').on('submit', function (event) {
                var currentPasswordError = $('#OldPassword-error');
                if (currentPasswordError.text() !== '') {
                    currentPasswordError.text('');
                }
            });
            $(function () {
                var errorMessage = '@ViewData["ErrorMessage"]';
                if (errorMessage !== '') {
                    // Show error message as a notification
                    toastr.error(errorMessage, 'Error');
                }
            });
        });
    </script>
}

