@*<h1>ForgotPasswordConfirmation</h1>
<p>
    The link has been sent, please check your email to reset your password.
</p>*@
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Forgot Password Confirmation</h1>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 login-blocks">
           @* <h2>Forgot Password Confirmation : </h2>*@
            <h4>
                <center style="margin:40px"> The link has been sent, please check your email to reset your password...</center>
               
            </h4>
            </div>
            </div>
            </div>
           
